

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* END RESET */


<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />


@font-face {
    font-family: 'montserratblack';
    src: url('fonts/montserrat-black-webfont.eot');
    src: url('fonts/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('fonts/montserrat-black-webfont.woff') format('woff'),
         url('fonts/montserrat-black-webfont.ttf') format('truetype'),
         url('fonts/montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold-webfont.eot');
    src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrathairline';
    src: url('fonts/montserrat-hairline-webfont.eot');
    src: url('fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-hairline-webfont.woff2') format('woff2'),
         url('fonts/montserrat-hairline-webfont.woff') format('woff'),
         url('fonts/montserrat-hairline-webfont.ttf') format('truetype'),
         url('fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff'),
         url('fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displayblack';
    src: url('fonts/playfairdisplay-black-webfont.eot');
    src: url('fonts/playfairdisplay-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-black-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-black-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-black-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-black-webfont.svg#playfair_displayblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold';
    src: url('fonts/playfairdisplay-bold-webfont.eot');
    src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayregular';
    src: url('fonts/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




header {height:50px;
        width:100%;
        position:fixed;
        z-index:1;}


h1 {font-family: 'playfair_displaybold';
    font-size:50px;
    padding-left:5px;
    padding-top:20px;
    background-color:white;
    width:100%;
    height:50px; }


#navbar ul {clear:both;
     font-family: 'montserratlight';
    font-size:20px;
    background-color:#b3a0ba;
    padding-top:20px;
    padding-left:20px;
    height:40px;
    width:100%;
    border-bottom:solid 10px;
    }

a {text-decoration:none;
    color:white; }

#menu li {clear:both;
    display:inline-block;
    padding-right:15px;
    }

#everything {padding-top:150px;}


h2 {font-family: 'montserratbold';
    font-size:30px;
    padding-top:200px;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;}

h3  {font-family: 'playfair_displaybold';
    font-size:20px;
    padding-left:20px;
    padding-top:10px;
    color:#b3a0ba;
   
    }


article { font-family: 'playfair_displayregular';
        font-size:18px;
        width:35%; 
        padding-left:20px;
        padding-bottom:20px;}

p {background-color:#b3a0ba;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;
    color:white;
    font-family:'montserratbold';
    font-size:18px;}





.pics {  
    height:  232px;  
    width:   232px;  
    padding: 0;  
    margin:  0;  
    position:fixed;
} 
 
.pics img {  
    padding: 0px;  
    border:  0px solid #ccc;  
    background-color: #eee;  
    width:  1200px; 
    height: 650px; 
    top:  0; 
    left: 0 
} 



#me img{float:right;}

.project{float:left;
        margin:2%;
      width:21%;
      position:relative;
      top:0px;
      left:0px;
      font-family: 'playfair_displayregular';
        font-size:18px;
        color:white;
}
.project img { width:100%; }       

.color {width:100%;
        height:100%;
        background-color: #b3a0ba;
        opacity:.75; }
.text{display:none;}

.project :hover .text { display:none;
        display:block;
        position:absolute;
        background-color:rgba(135, 92, 154, 0.5); 
        top:0; left:0; 
        height:100%; 
        width:100%;}

.project :hover .text p {margin-top:50%; 
                        text-align:center; 
                        padding:0 10px;}


       




